/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

select.izaberi_zanr {
    width: 100%;
}

label {
    font-weight: bold;
}

input.autor {
    width: 100%;
}

* {
    .border-radius(0) !important;
}

.field {
    margin-bottom: 20px;
}

#uspjesno {
    display: none;
}